
:root {
    --red: #F4C2C9;
    --yellow: #FFE779;
    --green: #6DAFA7;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.30s;
}

body {height: 100vh; background-color: whitesmoke;}

h3,h2 {color: var(--green);}

h5,span {font-family: cursive;}

span {color: var(--red);}

span:hover{ color: var(--green);}

ul {list-style: none;}

hr {color: var(--azulito2);}

textarea{
    background-color: var(--amarillito);
    color: var(--azulito2); 
    border: none;
    resize: none;
}

label, p, li {cursor: pointer;}

textarea:focus {outline: none;}

label {
    border: solid 1px var(--green);
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
}

.input {
    width: 80%;
    border: none;
    caret-color: var(--green);
    color: #000;
    background-color: whitesmoke;
 }

 .input::placeholder{
    color: var(--red);
 }

.input:focus {outline: none;}

.evaluarNota{
    justify-content: space-between;
}

.añadir {
   width: 280px;
}

#radio, .borrar, .añadir { cursor: pointer;}

.borrar {
    color: var(--green);
    right: 2%;
    position: absolute;
}

#tresPuntos{
    color: black;
}

#cont-tres-puntos{
    padding-top: 50px;
}

.añadirNota{
    color: var(--green);
    position: absolute;
    right: 9%;
}

#cancelarNota, #AceptarNota{
    cursor:pointer
}

#tuNota{
    word-wrap: break-word;
}

.estructuraModal{
    width: 300px;
    height: 255px;
    background-color: var(--yellow);
    box-shadow: -1px 5px 25px rgba(0, 0, 0, 0.5); 
    border-radius: 2%;
    
}

.modal {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid var(--red);
    padding: 1rem;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textAreaModal {
    background-color: var(--yelllow);
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: '';
    caret-color: transparent;
  }

  .textAreaModal:hover{
    caret-color: #1E3C87;
  }

  .evaluarNota hr {
    width: 80%;
    margin: 0 auto;
  }

  .evaluarNota {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .evaluarNota span {
    font-size: 1rem;
  }
  
.añadirNota, #tresPuntos{ cursor: pointer; }

.mostrarCumplidos, .ocultarCumplidos, .verEliminados{
    cursor: pointer;
    color: var(--green);
    font-size: 1rem;
    font-weight: bold;
}


@media (min-width: 310px) {
    .input{ width: 80%;}

    .listas { margin-left: auto;}

    Nota{
        right: 10%;
    }
}

@media (min-width: 1400px) {
    .input{ width: 87%}
}

@media (width <= 768px){
    #cont-tres-puntos{
        padding-top: 1px;
    }
}

